mixin restaurant-card(title, subtitle, price, url, set)
  section.restaurant-card
    .restaurant-card__content
      h3.restaurant-card__title= title
      if subtitle
        p.restaurant-card__subtitle= subtitle
      .restaurant-card__price= price
    .restaurant-card__img-wrap
      img.restaurant-card__img(src=url, srcset=set, alt=title)

